<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../../static/css/partials/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <div class="footer-links">
                <h4>CONTACT US</h4>
                <p> Naive Baes <br>
                  Kalyani Government Engineering College<br>
                  Kalyani,Nadia <br>
                  West Bengal <br>
                  <br>
                  <strong>Email : </strong>Example@gmail.com<br>
                  <strong>Phone : </strong>+91 - 9874512345
                </p>
  
              </div>
            </div>
  
            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
              </div>
            </div>
  
            <div class="footer-col">
              <h4>More</h4>
              <br>
              <ul>
                <li>
                  <a href="#">FAQ</a>
                </li>
  
                <li>
                  <a href="#">Terms of Use</a>
                </li>
  
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
  
              </ul>
            </div>
          </div>
        </div>
  
      </footer>
</body>
</html>