<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judgment Finder | About Us</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="big-wrapper light">
        <%- include('../views/partials/navbar.ejs') %>
            <div class="about-wrapper">
                <div class="about-row">
                    <div class="about-image-section">
                        <img src="../static/images/about-page/person.png" alt="">
                    </div>
                    <div class="about-content">
                        <h1>About Us</h1>
                        <p>The Department of Justice has launched this easy-to-use platform for the simple and fast
                            retrieval of previously judged cases. We’ve also integrated a recommendation system that
                            gives the user, the liberty to choose, whether to accept the decision or opt for similar
                            references.<br><br>

                            We also allow the user, the judges of numerous courts throughout India, to provide data to
                            our system to make it better and more efficient for themselves. We realize that the field we
                            are working in is sensitive and prone to errors. So, the users of our application also have
                            the freedom to change their previously submitted judgements in our system.<br><br>

                            We firmly believe that user experience matters the most in this domain of technology. Thus,
                            we have kept a simple and user-friendly design and environment. We hope that we will be able
                            to administer justice faster and flawlessly.<br><br>
                            <!-- The Department of Justice has launched this easy-to-use platform for the simple and fast
                            retrieval
                            of previously judged cases also helps them provide justice with the help of technological
                            advancements in the field of Artificial Intelligence.<br><br>

                            We have acquired quite a bit of accuracy via our technology, but we always trust that human
                            precision is irreplaceable. So we’ve also integrated a recommendation system that gives the
                            user,
                            the liberty to choose, whether to accept the decision or opt for similar references.<br><br>

                            We also allow the user, the judges of numerous courts throughout India, to provide data to
                            our
                            system to make it better and more efficient for themselves. We realize that the field we are
                            working
                            in is sensitive and prone to errors. So, the users of our application also have the freedom
                            to
                            change their previously submitted judgements in our system.<br><br>

                            We firmly believe that user experience matters the most in this domain of technology.
                            Thus, we have kept a simple and user-friendly design and environment. We hope that we will
                            be
                            able
                            to administer justice faster and flawlessly.<br><br> -->

                        </p>
                    </div>
                </div>
            </div>
            <div class="team-wrap-container">
                <div class="team_container">
                    <div class="text">Meet Our Team</div>
                </div>
                <div class="card-row">
                    <!--First User design starts here-->
                    <div class="profile-card">
                        <div class="profile-content">
                            <div class="profile-image">
                                <img src="../static/images/about-page/neha.jpeg" alt="first user">
                            </div>
                            <div class="desc">
                                <h2>Neha Bhansali</h2>
                                <p>Data Analyst</p>
                            </div>
                            <div class="btn-div">
                                <a href="https://www.linkedin.com/in/neha-bhansali-4681a8206/"><button class="btn"><i
                                            class="fab fa-linkedin"
                                            style="padding-right: 10px;"></i>LinkedIn</button></a>
                            </div>
                        </div>
                    </div>
                    <!--First user design ends here-->
                    <!--second User design starts here-->
                    <div class="profile-card">
                        <div class="profile-content">
                            <div class="profile-image">
                                <img src="../static/images/about-page/arya.jpeg" alt="first user">
                            </div>
                            <div class="desc">
                                <h2>Arya Chakroborty</h2>
                                <p>Data Scientist</p>
                            </div>
                            <div class="btn-div">
                                <a href="https://www.linkedin.com/in/arya-chakraborty-73a1ba203/"><button class="btn"><i
                                            class="fab fa-linkedin"
                                            style="padding-right: 10px;"></i>LinkedIn</button></a>
                            </div>
                        </div>
                    </div>
                    <!--second user design ends here-->
                    <!--third User design starts here-->
                    <div class="profile-card">
                        <div class="profile-content">
                            <div class="profile-image">
                                <img src="../static/images/about-page/Soumajit.jpeg" alt="first user">
                            </div>
                            <div class="desc">
                                <h2>Soumyajit Datta</h2>
                                <p>ML Engineer</p>
                            </div>
                            <div class="btn-div">
                                <a href="https://www.linkedin.com/in/codehackerone/"><button class="btn"><i
                                            class="fab fa-linkedin"
                                            style="padding-right: 10px;"></i>LinkedIn</button></a>
                            </div>
                        </div>
                    </div>
                    <!--third user design ends here-->
                    <!--fourth User design starts here-->
                    <div class="profile-card">
                        <div class="profile-content">
                            <div class="profile-image">
                                <img src="../static/images/about-page/Rupam.jpg" alt="first user">
                            </div>
                            <div class="desc">
                                <h2>Rupam Matabber</h2>
                                <p>Frontend Developer</p>
                            </div>
                            <div class="btn-div">
                                <a href="https://www.linkedin.com/in/rupam-matabber-7bb880206/"><button class="btn"><i
                                            class="fab fa-linkedin"
                                            style="padding-right: 10px;"></i>LinkedIn</button></a>
                            </div>
                        </div>
                    </div>
                    <!--fourth user design ends here-->
                    <!--Fifth User design starts here-->
                    <div class="profile-card">
                        <div class="profile-content">
                            <div class="profile-image">
                                <img src="../static/images/about-page/souja.jpeg" alt="first user">
                            </div>
                            <div class="desc">
                                <h2>Soujanya Hazra </h2>
                                <p>Full Stack Developer</p>
                            </div>
                            <div class="btn-div">
                                <a href="https://www.linkedin.com/in/soujanyahazra/"><button class="btn"><i
                                            class="fab fa-linkedin"
                                            style="padding-right: 10px;"></i>LinkedIn</button></a>
                            </div>
                        </div>
                    </div>
                    <!--Fifth user design ends here-->
                    <!--six User design starts here-->
                    <div class="profile-card">
                        <div class="profile-content">
                            <div class="profile-image">
                                <img src="../static/images/about-page/Saptarshi.jpg" alt="first user">
                            </div>
                            <div class="desc">
                                <h2 class="saptar-name">Saptarshi Bhattacharya</h2>
                                <p>Data Scientist</p>
                            </div>
                            <div class="btn-div">
                                <a href="https://www.linkedin.com/in/sbk2k1/"><button class="btn"><i
                                            class="fab fa-linkedin"
                                            style="padding-right: 10px;"></i>LinkedIn</button></a>
                            </div>
                        </div>
                    </div>
                    <!--six user design ends here-->
                </div>
            </div>
    </div>
    <%- include('../views/partials/footer.ejs') %>
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <script src="../static/js/index.js"></script>
</body>

</html>