<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="dashboard-container">
        <nav>
            <div class="dashboard-logo">
                <img class="logo-img" src="../static/images/landing-page/Logo.png" alt="">
                <h3>Judgment Finder</h3>
            </div>
            <div class="dashboard-profile">
                <a href="">
                    <img class="profile-img" src="../static/images/avataaars.png" alt="">
                </a>
                <div class="profile-hover">View Profile</div>
            </div>
        </nav>
        <section class="dashboard-main">
            <form action="" name="caseForm" >
                <input class="dashboard-search" type="search" name="case-search" id="caseSearch"
                    placeholder="Search for keywords...">
                <input type="submit" value="🔍" id="submitBtn">
            </form>
            <h2 class="dashboard-header">Judgment Accelerated !</h2>
            <div class="dashboard-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusantium, culpa, iure quidem
                soluta magni vel eum ullam, voluptatibus necessitatibus odit esse suscipit excepturi
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusantium, culpa, iure quidem
                soluta magni vel eum ullam, voluptatibus necessitatibus odit esse suscipit excepturi
            </div>
            <br>
            <div class="cta-box">
                <div class="predict-box">
                    <button class="predict-btn cta-btn">
                        <i class="fa fa-brain"></i>
                        Predict
                    </button>
                    <div class="predict-video cta-video"> Predict Video</div>
                </div>
                <div class="submit-box">
                    <button class="submit-btn cta-btn">
                        <i class="fa fa-gavel"></i>
                        Submit
                    </button>
                    <div class="submit-video cta-video">Submit Video</div>
                </div>
            </div>
        </section>
        <footer>Home page er footer ta ekhane copy kore dish Rupam</footer>
    </div>
</body>
<script>
    const profileHover = document.querySelector(".profile-hover");
    const profileImage = document.querySelector(".profile-img");
    const caseSearch = document.getElementById("caseSearch");
    const form = document.forms["caseForm"];


    profileImage.addEventListener("mouseover",()=>{
        profileHover.classList.remove("off");
        profileHover.classList.add("show");
    })

    profileImage.addEventListener("mouseout",()=>{
        profileHover.classList.remove("show");
        profileHover.classList.add("off");
    })

    form.addEventListener("submit",(event)=>{
        event.preventDefault();
        console.log(caseSearch.value);
    })
</script>

</html>