<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Dashboard</title>
    <!-- Font awesome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="dashboard-container">
        <%- include('../views/partials/user/navbar.ejs') %>
            <section class="dashboard-main">
                <form action="/keywordSearch" name="caseForm" method="POST">
                    <input class="dashboard-search" type="search" name="case-search" id="caseSearch"
                        placeholder="Search for keywords...">
                    <input type="submit" value="ðŸ”" id="submitBtn">
                </form>
                <h2 class="dashboard-header">Judgment Accelerated !</h2>
                <div class="dashboard-content">
                    We have made numerous provisions to make sure that while you judge a case you have ample resources
                    and materials to help you make better decisions. <br><br>

                    Here's a walkthrough:<br>
                    - You can search for similar cases in the search bar above.<br>
                    - You may Predict the most probable judgement by clicking on the Predict button and submitting
                    relevant documents mentioned.<br>
                    - You can save a judgement for future reference and view it the favourite section by clicking on you
                    profile icon.<br>
                    - Help us by submitting relevant case documents.<br>
                    - You can view your previously submitted cases in the section
                </div>
                <!-- <div class="cta-box">
                    <div class="predict-box">
                        <button class="predict-btn cta-btn">
                            
                            <a href="/user/predict"><i class="fa fa-brain"></i>Predict</a>
                        </button>
                        <div class="predict-video cta-video"> Predict Video</div>
                    </div>
                    <div class="submit-box">
                        <button class="submit-btn cta-btn">
                            <i class="fa fa-gavel"></i>
                            <a href="/user/submit">Submit</a>
                        </button>
                        <div class="submit-video cta-video">Submit Video</div>
                    </div>
                </div> -->
                <div class="cta-box">
                    <a class="predict-btn cta-btn" href="/user/predict"><i class="fa fa-brain"></i>&nbspPredict</a>
                    <a class="submit-btn cta-btn" href="/user/submit"><i class="fa fa-gavel"></i>&nbspSubmit</a>
                </div>
                <div class="video-box">
                    <div class="predict-video cta-video"><iframe src="https://www.youtube.com/embed/BgGj9dp8JHE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe></div>
                    <div class="submit-video cta-video"><iframe src="https://www.youtube.com/embed/BgGj9dp8JHE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe></div>
                </div>

            </section>
            <%- include('../views/partials/user/footer.ejs') %>

                <!-- <footer>
                <div class="copyright">
                    <p>Â© Copyright 2022 - Naive Baes</p>
                </div>
            </footer> -->
    </div>
</body>
<script>

    const caseSearch = document.getElementById("caseSearch");
    const form = document.forms["caseForm"];

    form.addEventListener("submit", (event) => {
        event.preventDefault();
    })
</script>


</html>