<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <title>e-Faisla | Home</title>
  <!-- Font awesome cdn  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <main>
    <div class="big-wrapper light">
      <%- include('../views/partials/navbar.ejs') %>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Get Justice Faster!</h1>
                <h1>Since we are here to assist you.</h1>
              </div>
              <p class="text">
                e-Faisla brings to you an all knew judgement prediction and search system that makes your journey to
                justice faster and easier. Also submit your judgements here to help us predict better.
              </p>
              <div class="cta">
                <a href="/login" class="btn"><i class="fas fa-rocket"></i>&nbsp Get Started</a>
              </div>
            </div>

            <div class="right">
              <img src="../static/images/landing-page/person.png" alt="Person Image" class="person" />
            </div>
          </div>
        </div>
    </div>

    <%- include('../views/partials/footer.ejs') %>

  </main>


  <!-- JavaScript Files -->

  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <script src="../static/js/index.js"></script>
</body>

</html>