<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <title>Judgment Finder | Home</title>
  <!-- Font awesome cdn  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <main>
    <div class="big-wrapper light">
      <%- include('../views/partials/navbar.ejs') %>

      <div class="showcase-area">
        <div class="container">
          <div class="left">
            <div class="big-title">
              <h1>We will help</h1>
              <h1>you to find judgments.</h1>
            </div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Delectus eius distinctio odit, magni magnam qui ex perferendis
              vitae!
            </p>
            <div class="cta">
              <a href="#" class="btn"><i class="fab fa-google-play"></i> Download</a>
            </div>
          </div>

          <div class="right">
            <img src="../static/images/landing-page/person.png" alt="Person Image" class="person" />
          </div>
        </div>
      </div>
    </div>

    <%- include('../views/partials/footer.ejs') %>

  </main>

  
  <!-- JavaScript Files -->

  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <script src="../static/js/index.js"></script>
</body>

</html>