<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <meta name="csrf-token" content="XYZ123"> -->

    <link rel="stylesheet" href="../static/css/keywordsearch.css">
    <title>Keyword Searching</title>
    <!-- Font awesome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- <link rel="stylesheet" href="../../assets/vendor/tagify/dist/tagify.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css"> -->

    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb60SsuzixeV4y/faTqgFtohetphbbjø=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


</head>
<style>
    .tagify {
        --tags-disabled-bg: #F1F1F1;
        --tags-border-color: rgb(150, 150, 150);
        --tags-hover-border-color: rgb(102, 102, 102);
        display: inline-flex;
        align-items: flex-start;
        flex-wrap: wrap;
        border: 2px solid var(--tags-border-color);
        padding: 0;
        line-height: 0;
        cursor: text;
        outline: 0;
        position: relative;
        box-sizing: border-box;
        transition: .1s;
        border-radius: 10px;
        width: 60%;
    }
</style>

<body>
    <div class="keyword-container">
        <%- include('../views/partials/user/navbar.ejs') %>
            <section class="keyword-main">

                <h2>Find judgements here </h2>
                <!-- <div class="keyword-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsum soluta, voluptatem et vel, qui,
                    error officiis sint quidem ea nam? Sint cupiditate inventore libero harum. Sequi placeat consequatur
                    iure ullam animi aliquid iste incidunt distinctio atque minus quos id quibusdam saepe nobis, a rerum
                    praesentium, sunt ab eaque accusamus!
                </div> -->

                <form action="/user/keywordsearch" name="caseForm" method="POST"
                    enctype="application/x-www-form-urlencoded">
                    <!-- <input class="dashboard-search" type="text" name="caseSearch" id="caseSearch"
                        placeholder="Search for keywords..."> -->
                    <!-- <div class="autocomplete"> -->
                    <input type="text" name="caseSearch" id="caseSearch" placeholder="Search your keywords...">
                    <!-- </div> -->
                    <div class="submit-options">
                        <h3>Number of Documents :</h3>
                        <select name="number" id="number">
                            <option value="">Select Number</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>

                    <div class="submit-options">
                        <h3>Order matters :</h3>
                        <select name="order" id="order">
                            <option value="">Select order</option>
                            <option value="true">True</option>
                            <option value="false">False</option>

                        </select>
                    </div>

                    <div class="submit-options">
                        <h3>Year :</h3>
                        <select name="year" id="year">
                            <option value="">Select Year</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>

                    <div class="submit-options">
                        <h3>Region :</h3>
                        <select name="region" id="region">
                            <option value="">Select Court</option>
                            <option value="INBRHC">Bihar High Court</option>
                            <option value="INDLHC">Delhi High Court</option>
                            <option value="none">None</option>
                        </select>
                    </div>

                    <!-- <input class="js-tagify tagify-form-control" placeholder="Write some tags">
                    <input name='drag-sort' value='tag 1, tag 2, tag 3, tag 4, tag 5, tag 6' /> -->
                    <input type="submit" value="Submit" id="submitBtn">

                </form>
                <!-- <form id="upload-widget" method="post" action="/user/keywordsearch" class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div>
                </form> -->



            </section>
            <%- include('../views/partials/user/footer.ejs') %>


    </div>
</body>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    let keywordList = '<%=keywordList%>'.split(',');
    // let keywordList = '<%#=keywordList%>';
    console.log(keywordList);
    

    var input = document.querySelector('input[name=caseSearch]'),
        tagify = new Tagify(input, {
            whitelist: keywordList,
            dropdown: {
                classname: "color-blue",
                enabled: 1,
                maxItems: 15,
                closeOnSelect: true,
                highlightFirst: true
            }
        });
</script>

</html>