<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/predict.css">
    <title>Predict</title>
</head>
<body>
    <div class="predict-container">
        <nav>
            <div class="dashboard-logo">
                <img class="logo-img" src="../static/images/landing-page/Logo.png" alt="">
                <h3>Judgment Finder</h3>
            </div>
            <div class="dashboard-profile">
                <a href="">
                    <img class="profile-img" src="../static/images/avataaars.png" alt="">
                </a>
            </div>
        </nav>
        <section class="predict-main">
            <h2>Header</h2> <br><br>
            <div class="predict-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quas voluptatibus ducimus rem est asperiores voluptates doloribus? Et velit asperiores corporis voluptas odit obcaecati voluptatibus omnis odio suscipit. Quod dolor facere illum labore fugit.
            </div><br><br>
            <div class="predict-upload">
                <form action="/predict" name="predict-form">
                    <input type="file" name="predict" id="predict">
                    <input type="submit" value="Predict" class="predict-btn">
                </form>
            </div> <br>
            <div class="predict-preview">
                Preview
            </div>
        </section>
        <footer>Footer</footer>
    </div>
</body>
</html>