<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/predict.css">
    <title>Predict</title>
    <!-- Font awesome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Filepond cdn  -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
</head>

<body>
    <div class="predict-container">
        <%- include('../views/partials/user/navbar.ejs') %>
            <section class="predict-main">
                <h2>Predict first, Deliver later</h2>
                <div class="predict-content">
                    Upload your documents here below and get the most probable judgement with similar cases.
                    Make sure you follow a few basic guidelines: <br><br>
                    - Make sure you take the pictures in the correct orientation. <br><br>
                    - Enter the date of the judgement and languages used in the document.
                </div>
                <div class="predict-upload-container">
                    <div class="predict-upload">
                        <form action="/user/predict" name="predict-form" method="POST">
                            <input type="file" name="predict" id="predict" multiple="multiple" accept="image/*">
                            <label for="predict"><i class="fas fa-upload"></i>&nbspChoose a Photo</label>
                        </form>
                    </div>
                    <h1>OR</h1>
                    <div class="predict-upload">
                        <form action="/user/predict" name="predict-form" method="POST">
                            <input type="file" name="predict" id="predict" multiple="multiple" accept="image/*">
                            <label for="predict"><i class="fas fa-camera"></i>&nbspClick a Photo</label>
                            <!-- <input type="submit" value="Predict" class="predict-btn"> -->
                        </form>
                    </div>
                </div>
                <div class="predict-details">
                    <input type="date">
                    <select name="language" id="language">
                        <option value="">Select Language</option>
                        <option value="english">English</option>
                        <option value="hindi">Hindi</option>
                        <option value="bengali">Bengali</option>
                        <option value="tamil">Tamil</option>
                        <option value="telegu">Telegu</option>
                    </select>
                </div>
                <div class="predict-btn-wrapper"><input type="submit" value="Predict" class="predict-btn"></div>
                <div class="predict-preview">

                </div>
            </section>
            <%- include('../views/partials/user/footer.ejs') %>

    </div>
</body>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<!-- <script src="../static/js/predict.js"></script> -->
<script>

</script>

</html>