<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="profile-container">
        <nav>
            <div class="dashboard-logo">
                <img class="logo-img" src="../static/images/landing-page/Logo.png" alt="">
                <h3>Judgment Finder</h3>
            </div>
            <div class="dashboard-profile">
                <a href="">
                    <img class="profile-img" src="../static/images/avataaars.png" alt="">
                </a>
                <div class="profile-hover">View Profile</div>
            </div>
        </nav>
    </div>
</body>
<script>
    const profileHover = document.querySelector(".profile-hover");
    const profileImage = document.querySelector(".profile-img");

    profileImage.addEventListener("mouseover",()=>{
        profileHover.classList.remove("off");
        profileHover.classList.add("show");
    })

    profileImage.addEventListener("mouseout",()=>{
        profileHover.classList.remove("show");
        profileHover.classList.add("off");
    })
</script>
</html>