@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

body{
    background-color: var(--backgroundColor);
    font-family: "Poppins", sans-serif;
}

/* Nav  */

nav{
    height: 80px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.dashboard-logo,
.dashboard-profile{
    display: flex;
    align-items: center;
}

.dashboard-logo h3{
    color: var(--darkTwo);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
    margin-left: 0.6rem;
    margin-top: 0.6rem;
}

.dashboard-profile img,
.dashboard-logo img{
    height: 40px;
    width: 40px;
}

.profile-hover{
    background-color: var(--lightTwo);
    font-size: 12px;
    padding: 0.2rem;
    border: 1px solid black;
    position: absolute;
    top: 4rem;
    right: 0;
    display: none;
}

.off{
    display: none;
}

.show{
    display: block;
}
/* Main  */

.dashboard-main{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-search{
    width: 80%;
    padding: 1rem;
    border: 2px solid var(--darkOne);
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}

.dashboard-main h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dashboard-content{
    width: 60%;
}

.cta-box{
    display: flex;
    width: 100%;
}

.predict-box,
.submit-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-info {
    display: flex;
    align-items: center;
}

.predict-btn{
    margin-left: 20rem;
}

.submit-btn{
    margin-right: 20rem;
}

.cta-btn{
    background-color: var(--mainColor);
    border: none;
    outline: none;
    padding: 0.9rem 1.9rem;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.cta-btn:hover{
    background-color: var(--hoverColor);
}

.cta-video{
    border: 2px solid red;
    width: 40vw;
    height: 40vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer  */
