@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

body{
    background-color: var(--backgroundColor);
    font-family: "Poppins", sans-serif;
}

/* Main  */

.dashboard-main{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-search{
    width: 80%;
    padding: 1rem;
    border: 2px solid var(--darkOne);
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}

.dashboard-main h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dashboard-main form {
    width: 80%;
    display: flex;
    justify-content: center;
}

#submitBtn{
    padding: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: var(--mainColor);
    border-radius: 30px;
}

#submitBtn:hover{
    background-color: var(--hoverColor);
}

.dashboard-content{
    width: 60%;
}

.cta-box{
    display: flex;
    width: 100%;
}

.predict-box,
.submit-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-info {
    display: flex;
    align-items: center;
}

.predict-btn{
    margin-left: 20rem;
}

.submit-btn{
    margin-right: 20rem;
}

.cta-btn{
    background-color: var(--mainColor);
    border: none;
    outline: none;
    padding: 0.9rem 1.9rem;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.cta-btn:hover{
    background-color: var(--hoverColor);
}

.cta-video{
    border: 2px solid red;
    width: 40vw;
    height: 40vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* Footer  */
