@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

body {
    background-color: var(--backgroundColor);
    font-family: "Poppins", sans-serif;
}

/* Main  */

.keyword-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.keyword-content {
    width: 60%;
    padding: 0rem 1rem 3rem 1rem;
}
.keyword-main h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.result-container{
    width: 70%;
    padding: 1rem;
}

.result-container .result-wrapper{
    background-color:white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 1.2rem;
    box-shadow: 4px 3px 20px #3535358c;

}
.result-container .result-wrapper .result-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

}

.result-text .tag-container{
    display: flex;
    flex-direction: row;
    /* padding-top: 1rem; */
    flex-wrap: wrap;
}
.result-text .tag-container .tag-wrapper{
    background-color: var(--mainColor);
    border: none;
    outline: none;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    margin-right: 0.6rem;
    margin-bottom: 0.8rem;
}
.result-container .result-wrapper .result-download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.result-text h3{
    font-size: 26px;
    color: #3F51B5;
}
.result-text h4{
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #3F51B5;

}
.result-text .readmore{
    font-size: 14px;
}

.readmore .moreText {
    display:none;
}
.readmore a.more {
    display:block;
}


.result-download a{
    background-color: #3F51B5;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.result-download a:hover{
    transform: scale(1.02) translateY(-2px);
    box-shadow: 3px 3px 6px #38373785;

}