@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

body {
    background-color: var(--backgroundColor);
    font-family: "Poppins", sans-serif;
}

/* Main  */

.keyword-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.keyword-content {
    width: 60%;
    padding: 0rem 1rem 3rem 1rem;
}

.dashboard-search {
    width: 80%;
    padding: 1rem;
    border: 2px solid var(--darkOne);
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}
.keyword-main form {
    width: 80%;
    display: flex;
    justify-content: center;
}
#submitBtn {
    padding: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: var(--mainColor);
    border-radius: 30px;
}

#submitBtn:hover {
    background-color: var(--hoverColor);
}
.keyword-main h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.result-container{
    width: 70%;
    padding: 1rem;
}
.result-container .result-wrapper{
    background-color: rgb(224, 224, 224);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}
.result-container .result-wrapper .result-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

}
.result-container .result-wrapper .result-download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.result-text h3{
    
}
.result-text p{
    font-size: 14px;
}
.result-download a{
    background-color: var(--mainColor);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
.result-download a:hover{
    background-color: var(--hoverColor);
}