@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

body {
    background-color: var(--backgroundColor);
    font-family: "Poppins", sans-serif;
}


/* Main  */

.predict-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.predict-content {
    width: 60%;
    padding: 1rem 1rem 3rem 1rem;
}

.predict-upload-container {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.predict-upload {
    display: flex;
    justify-content: center;
}

.predict-upload form {
    width: 100%;
}


/* input[type="file"] {
    border: 2px solid var(--lightOne);
    width: 70%;
} */

/* input[type="file"]::file-selector-button {
    padding: 0.9rem;
    border: none;
    outline: none;
    background-color: #d4d4d4;
    border-right: 2px solid var(--lightOne);
} */

.predict-btn {
    background-color: var(--mainColor);
    border: none;
    outline: none;
    padding: 0.9rem 1.9rem;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.predict-btn:hover {
    background-color: var(--hoverColor);
}

.predict-details {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
}

input[type="file"] {
    display: none;
}
input[type="date"]{
    background-color: var(--mainColor);
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 200px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
}
.predict-details select{
    background-color: var(--mainColor);
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 200px;
    cursor: pointer;
}

.predict-details select option{
    background-color: #fff;
    color: #000000;
}
.predict-upload label {
    background-color: var(--mainColor);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}
footer .copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.predict-upload label:hover {
    background-color: var(--hoverColor);
}
@media(max-width: 980px) {
    .predict-upload-container {
        width: 70%;   
    }

    .predict-details{
      width: 70%;
    }
    .predict-content {
        width: 80%;
    }
}

@media(max-width: 640px) {
    .predict-upload-container {
        flex-direction: column;   
    }
    .predict-upload-container h1 {
       padding: 1rem 0;   
    }
    .predict-details{
      flex-direction: column;
    }
    input[type="date"]{
        margin-bottom: 30px;
    }
}