@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

body{
    background-color: var(--backgroundColor);
    font-family: "Poppins", sans-serif;
}

/* Main  */

/* .profile-section {
  margin: auto;
  width: 60%;
} */

.profile-heading {
  color: #000000fa;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: capitalize;
  text-align: center;
}
.profile-heading h1{
  padding: 0.5rem 3rem;
  font-size: 30px;
}
.profile-photo-container {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-left:3rem;
}

.profile-photo-wrapper {
  padding: 2rem 3rem;
}

.profile-photo-wrapper img {
  clip-path: circle(45%);
  width: 100px;
}

.profile-photo-details {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-photo-details h1 {
  font-size: 15px;
  padding-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.profile-photo-details label {
  background-color: var(--mainColor);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.profile-photo-details label:hover {
  background-color: var(--hoverColor);
}

.profile-details {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0rem 3rem 2rem 3rem;

}
table, tr, td{
  border-collapse: collapse;
}
table{
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
td {
  text-align: left;
}
table .td-head {
  padding: 0.7rem 2rem 0.7rem 0.5rem;
  background-color: var(--mainColor);
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
table .td-head:hover {
  background-color: var(--hoverColor);

}
table .td-content {
  padding: 0.7rem 20rem 0.7rem 0.3rem;
}
.profile-details table tr:nth-of-type(odd) {
  background-color: #64bdf446;
}
.profile-details table tr {
  border-bottom: 1px solid #dddddd;
}


@media(max-width: 768px) {
  table .td-content {
      padding: 0.7rem 5rem 0.7rem 0.3rem;
  }
  .profile-photo-wrapper,
  .profile-photo-details {
    padding: 1rem 1.5rem;
  }
}

@media(max-width: 500px) {
  table{
    font-size: 11px;
  }
  table .td-head {
    padding: 0.7rem 1rem 0.7rem 0.5rem;

  }
  .profile-photo-wrapper,
  .profile-photo-details {
    padding: 0.5rem 0.7rem;
  }
  .profile-photo-details h1 {
    font-size: 13px;
    padding-bottom: 8px;
  }
  .profile-photo-details label {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 13px;
  }
}